@page "/pomodoro"

<PageTitle>Pomodoro</PageTitle>

<h1>Pomodoro</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="DecrementCount">Don't Click me</button>
@code {
    private int _currentCount = 0;

    private void IncrementCount()
    {
        _currentCount++;
    }

    private void DecrementCount()
    {
        _currentCount--;
    }
}